<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
  </configSections>
  <sitecore database="SqlServer">
    <itemManager defaultProvider="default">
      <providers>
        <clear />
        <add name="default" type="Sitecore.Fakes.FakeItemProvider, Sitecore.Fakes" />
      </providers>
    </itemManager>
    <mediaLibrary>
      <mediaProvider type="Sitecore.Fakes.FakeMediaProvider, Sitecore.Fakes" />
    </mediaLibrary>
    <standardValues defaultProvider="sitecore">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Data.StandardValuesProvider, Sitecore.Kernel" />
      </providers>
    </standardValues>
    <settings>
      <setting name="LicenseFile" value="D:\license.xml" />
    </settings>
    <databases>
      <database id="web" singleInstance="true" type="Sitecore.Fakes.FakeDatabase, Sitecore.Fakes">
        <param desc="name">$(id)</param>
      </database>
      <database id="master" singleInstance="true" type="Sitecore.Fakes.FakeDatabase, Sitecore.Fakes">
        <param desc="name">$(id)</param>
      </database>
    </databases>
    <settings>
      <setting name="LicenseFile" value="D:\license.xml" />
    </settings>
    <authentication defaultProvider="forms">
      <providers>
        <clear />
        <add name="forms" type="Sitecore.Security.Authentication.FormsAuthenticationProvider, Sitecore.Kernel" />
      </providers>
    </authentication>
    <authorization defaultProvider="sql">
      <providers>
        <clear/>
        <add name="sql" type="Sitecore.Fakes.ConfigurationFakes.FakeAutheorizationProvider, Sitecore.Fakes" />
      </providers>
    </authorization>
    <domainManager defaultProvider="file">
      <providers>
        <clear />
        <add name="file" type="Sitecore.Fakes.ConfigurationFakes.FakeDomainProvider, Sitecore.Fakes" />
      </providers>
    </domainManager>
    <accessRights defaultProvider="config">
      <providers>
        <clear />
        <add name="config" type="Sitecore.Fakes.ConfigurationFakes.FakeAccessRight,Sitecore.Fakes" />
      </providers>
    </accessRights>
  </sitecore>
  <log4net />
</configuration>